<a href="https://colab.research.google.com/github/Jules-Nathan-Dimanche/Pythonlab/blob/main/08122021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
a = """My name is jules nathan dimanche.
I am from RIT college ,chennai."""
print(a)
print("The number of letters :",len(a))

My name is jules nathan dimanche.
I am from RIT college ,chennai.
The number of letters : 65

In [10]:
print(a[6])

e

In [21]:
for x in "water":
  print(x)

w
a
t
e
r

In [22]:
print("is" in a)

True

In [23]:
if "is" in a:
  print("yes")

yes

In [26]:
if "what" not in a:
  print("no")

no

pandas

In [39]:
import pandas
mydata={
    "mobile":["MI","samsung","nokia","realme"],
    "defect":[2,4,1,8]
}
data=pandas.DataFrame(mydata)
print(data)

    mobile  defect
0       MI       2
1  samsung       4
2    nokia       1
3   realme       8

In [46]:
import pandas as a
mydata={
    "mobile":["MI","samsung","nokia","realme"],
    "defect":[2,4,1,8]
  
}
data=a.DataFrame(mydata)
print(data)

    mobile  defect
0       MI       2
1  samsung       4
2    nokia       1
3   realme       8

In [47]:
data=a.Series(mydata)
print(data)

mobile    [MI, samsung, nokia, realme]
defect                    [2, 4, 1, 8]
dtype: object

In [54]:
import pandas as c
a=[1,3,4]
b=c.Series(a,index = ['x','y','z'])
print(b)

x    1
y    3
z    4
dtype: int64

In [60]:
import pandas as a
b={"day1":320,"day2":400}
c=a.Series(b)
print(c)

day1    320
day2    400
dtype: int64

In [64]:
import pandas as a
b={"day1":340,"day2":400}
c=a.Series(b,index=["day1"])
print(c)

day1    340
dtype: int64

In [66]:
import pandas as a
b={
    "calories":[320,400,500],
   "duration":[30,40,55]
  
}
c=a.DataFrame(b,index=["day1","day2","day3"])
print(c)

      calories  duration
day1       320        30
day2       400        40
day3       500        55